on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Download source
        uses: actions/checkout@v5
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: 1.17
      - name: Cache shards
        uses: actions/cache@v4
        with:
          path: lib
          key: ${{ runner.os }}-shards-${{ hashFiles('**/shard.lock') }}
      - name: Install shards
        run: shards check || shards install
      - name: Check formatting
        run: crystal tool format --check
      - name: Build CLI
        run: shards build --production --release --no-debug
